/* General CSS */
body, h1, h2, h3, h4, h5, h6 { font-family: "aktiv-grotesk-std", sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight: 300; }
p { font-weight: 300; font-size: 1.3em; color: #666; }
.btn { border: none; }
.btn:hover { border: none; }
.btn-warning { background-color: #fed61b; color: #000; outline: none; }
.btn-warning:hover { background-color: #1175a5; color: #fff; }
[class*="col-"] { padding-top: 15px; padding-bottom: 15px; }
a {color: #1175a5; }
a:hover { color: #23a5e5; }
footer { background-color: #23a5e5; text-align: center;}
footer p { color: #fff; }
.btn a { color: #000;}
.btn a:hover { color: #fff; text-decoration: none; }

/* Navigation */
.navbar-inverse { background-color: #fff; border: none; 
-webkit-box-shadow: 0px 0px 9px 4px rgba(41,41,41,0.1);
-moz-box-shadow: 0px 0px 9px 4px rgba(41,41,41,0.1);
box-shadow: 0px 0px 9px 4px rgba(41,41,41,0.1);
}
.navbar-inverse .navbar-nav > li > a { color: #000; }
.navbar-inverse .navbar-nav > li > a:hover { color: #1175a5; } 
.navbar-brand { padding: 1px 30px 0; }
.nav > li > a { padding-left: 25px; padding-right: 25px; }
.navbar-nav > li > a { padding-top: 20px; }
.navbar-toggle { margin-top: 15px; }
.navbar-inverse .navbar-toggle .icon-bar { background-color: #1175a5; }
.navbar .logo { margin: 6px 0 12px;}

/* Affix */

@media (min-width: 1200px) {
  .affix, .affix-bottom { width: 263px !important; position: fixed !important; top: 74px !important; }
  .col-md-9 h1:first-child { margin-top: 40px !important; }
}

@media (min-width: 992px) {
  .affix, .affix-bottom { width: 213px; }
  .affix { position: fixed !important; }
  .col-md-9 h1:first-child { margin-top: 40px !important; }
}

@media (min-width: 768px) {
  .affix { position: static; }
  .col-md-9 h1:first-child { margin-top: 0px; }
}

@media (min-width: 480px) {
  .affix { position: static; }
  .col-md-9 h1:first-child { margin-top: 0px; }
}

@media (max-width: 480px) {
  .affix { position: static; }
  .col-md-9 h1:first-child { margin-top: 0px; }
}

.page-content-container { margin-top: 64px; }

.banner { background-image: url('../img/banner.jpg'); background-attachment: fixed; background-size: cover; background-position: 50% 0; color: #fff; }
.banner .banner-text { padding-top: 40px; padding-bottom: 40px; opacity: 0; }
.banner .banner-text h1, .banner .banner-text p { text-shadow: 0px 1px 0px rgba(41,41,41,1); }
.banner h1 {  font-weight: 300; font-size: 4.5em; margin-bottom: 30px; }
.banner-text p { color: #fff; font-weight: 300; margin-bottom: 30px; }
.banner-picture-section { text-align: center; }
.banner .display-container { position: relative; }
.banner-picture-image { width: 380px; opacity: 0; margin-top: 40px;
	-webkit-animation-delay: 0.5s;
	   -moz-animation-delay: 0.5s;
	     -o-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}
.banner .iphone-small { position: relative; width: 60px; margin: 0 20px; opacity: 0; }
.banner .player-row { position: absolute; top: 160px; text-align: center; width: 100%; }
.banner .player-row i.fa-user { color: #1175a5; margin: 0 20px; opacity: 0; }
.banner .phone-row { position: absolute; top: 270px; text-align: center; width: 100%; }
@media (max-width: 450px) {
	.banner-picture-image { width: 300px; }
	.banner .phone-row { top: 200px; }
	.banner .banner-text { padding-top: 0; }
	.banner .iphone-small { width: 45px; margin: 0 10px; }
}

@media (max-width: 1000px) {
	.banner-picture-section { padding-bottom: 20px; }
	.banner h1 { font-size: 3.5em; }
	.banner { text-align: center; }
}

.landing-section { text-align: center; padding-top: 40px; }
.landing-section .section-heading { font-size: 2.5em; margin-bottom: 30px; }

.why-content .why-content-img { margin: 30px; height: 100px; opacity: 0; }
.why-content h4 { color: #1175a5; text-transform: uppercase; font-weight: 500; font-size: 1em; letter-spacing: 1px; }
.why-content p { font-size: 1em; }

/* About */

.about-container .info-container { position: relative; margin: 25px 0 35px 0; text-align: left; }
.about-container .info-container p { margin-bottom: 10px; font-size: 16px; }
.about-container .info-container h3 { margin-top: 0; text-align: left; color: #1175a5;}
.about-container img { height: 50px; width: 50px; border-radius: 40px; position: absolute; }
.about-container .info { display: inline-block; margin-left: 70px; }
.about-container .info-container i { margin-right: 3px; }
@media only screen and (max-width: 480px) { 
	.about-container .info-container h3 { text-align: center; }
    .about-container .info-container { text-align: center; width: 100%; }
    .about-container img { position: static; margin-bottom: 20px; }
    .about-container .info { margin-left: 0; }
}
