/* General CSS */
body, h1, h2, h3, h4, h5, h6 { font-family: "aktiv-grotesk-std", sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight: 300; }
p { font-weight: 300; font-size: 1.3em; color: #666; }
.btn-default { border: none; }
.btn-default:hover { border: none; }

/* Navigation */
.navbar-inverse { background-color: #fff; border: none; }
.navbar-inverse .navbar-nav > li > a { color: #000; text-shadow: 0px 1px #eee;}
.navbar-inverse .navbar-nav > li > a:hover { color: red; } 
.navbar-brand { padding: 1px 30px 0; }
.nav > li > a { padding-left: 25px; padding-right: 25px; }
.navbar-nav > li > a { padding-top: 20px; }
.navbar-toggle { margin-top: 15px; }
.navbar-inverse .navbar-toggle .icon-bar { background-color: red; }

.banner { margin-top: 48px; background-image: url('../img/banner.jpg'); background-size: cover; background-position: center bottom; color: #fff; }
.banner .banner-text { padding-top: 40px; padding-bottom: 40px;}
.banner h1 {  font-weight: 300; font-size: 4.5em; margin-bottom: 30px; }
.banner-text p { color: #fff; font-weight: 300; margin-bottom: 30px; }
.banner-picture-section { padding-top: 30px; text-align: center; }
.banner .display-container { position: relative; }
.banner-picture-image { width: 380px; opacity: 0; margin-top: 40px;
	-webkit-animation-delay: 0.5s;
	   -moz-animation-delay: 0.5s;
	     -o-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}
.banner .iphone-small { position: relative; width: 60px; margin: 0 20px; opacity: 0; }
.banner .player-row { position: absolute; top: 160px; text-align: center; width: 100%; }
.banner .player-row i.fa-user { color: red; margin: 0 20px; opacity: 0; }
.banner .phone-row { position: absolute; top: 270px; text-align: center; width: 100%; }
@media (max-width: 450px) {
	.banner-picture-image { width: 300px; }
	.banner .phone-row { top: 200px; }
	.banner .banner-text { padding-top: 0; }
	.banner .iphone-small { width: 45px; margin: 0 10px; }
}

@media (max-width: 1000px) {
	.banner-picture-section { padding-bottom: 20px; }
	.banner h1 { font-size: 3.5em; }
	.banner { text-align: center; }
}

.landing-section { text-align: center; padding-top: 40px; }
.landing-section .section-heading { font-size: 2.5em; margin-bottom: 30px; }

.why-content .why-content-img { margin: 30px; height: 100px; opacity: 0; }
.why-content h4 { color: red; text-transform: uppercase; font-weight: 500; font-size: 1em; letter-spacing: 1px; }
.why-content p { font-size: 1em; }